body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#start{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    padding: 15px;
    font-family: sans-serif;
    background-color: aquamarine;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 800;
}

#start:hover{
    box-shadow: 6px 8px 15px 1px rgba(0,0,0,0.27);
    transition: 0.3s;
}